<div class="jumbotron">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-center">
        <img src="{{userInfo.photo}}" alt="" class="img-responsive img-circle center-block">
        <h2>Welcome to application!
          <a href="http://github.com/{{userInfo.login}}" target="_blank">{{userInfo.login}}</a>
        </h2>
      </div>
      <hr>
      <div class="col-md-4 text-center"><h3>Public repository</h3> <br> <h1>{{userInfo.pubRep}}</h1></div>
      <div class="col-md-4 text-center"><h3>Your followers</h3> <br> <h1>{{userInfo.followers}}</h1></div>
      <div class="col-md-4 text-center"><h3>Your following</h3> <br> <h1>{{userInfo.following}}</h1></div>
    </div>
  </div>
</div>
